Checks: >
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    security-*,
    -bugprone-reserved-identifier,
    -bugprone-exception-escape,
    -clang-diagnostic-pragma-pack,
    -misc-const-correctness,
    -misc-non-private-member-variables-in-classes,
    -modernize-avoid-c-arrays,
    -modernize-concat-nested-namespaces,
    -modernize-pass-by-value,
    -modernize-raw-string-literal,
    -modernize-return-braced-init-list,
    -modernize-use-default-member-init,
    -modernize-use-equals-delete,
    -modernize-use-trailing-return-type,
    -modernize-make-unique,
    -readability-avoid-const-params-in-decls
    -readability-identifier-naming,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-redundant-member-init,
    -readability-static-accessed-through-instance,
    -readability-named-parameter,
    -readability-function-cognitive-complexity

# All warnings are errors
WarningsAsErrors: "*"

# Align with clang-format
FormatStyle: file

# Include warnings from headers
HeaderFilterRegex: ".*"
