Checks: >
    -bugprone-easily-swappable-parameters,
    -clang-diagnostic-pragma-pack,
    -modernize-*,
    -performance-*,
    -readability-avoid-const-params-in-decls
    -readability-identifier-naming,
    -readability-implicit-bool-conversion,
    -readability-redundant-member-init,
    -readability-static-accessed-through-instance,
    -readability-magic-numbers,
    -readability-named-parameter

InheritParentConfig: true
